//COLOR PALETTE
$dark: rgb(20, 20, 20);
$danger: #ff0000;
$primary: #961a66;
$warning:  #ff8800;
//FINE COLLOR PALETTE
@import '~bootstrap/scss/bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,300;1,600;1,800&display=swap');

body{
    background: linear-gradient(20deg , $danger  60%, $warning 60%);
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    min-height: 100vh;
}

//STYLE UTILITIES
.button_delive{
    background-color: rgb(255, 255, 255);
}
.button_delive:hover{
    background: none;
    border:1px solid white;
    color:white;
}
//FINE STYLE

//*****NAVBAR*****/
.nav-item:hover{
    font-weight: 800;
    border: 1px solid white;
    border-radius: 10px;
}
//*****FINE NAVBAR*****/

//******HOME PAGE******/
.shadow_title{
    text-shadow: 3px 3px white ;
}
//******FINE HOME PAGE******/


